*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
h1{
	font-family: $fuente-segundaria;
	background-color:#F6F6F6;
	text-align: center;
}

 .nav-link {
	font-size:30px;
	font-family:$fuente-principal;
	color: $color-titulo;

}

#logo{
	width:120px; 
	height:120px;
}